@use './mixins' as *;
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// ### Primary

// - Soft red: hsl(7, 99%, 70%)
// - Yellow: hsl(51, 100%, 49%)
// - Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// - Dark blue (photography text): hsl(198, 62%, 26%)
// - Dark moderate cyan (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)

:root {
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  max-width: 144rem;
  position: relative;
}

// Updated hero section
//Images are now a part of the grid isntead of being positioned absolutely. We
//needed the hero section to use the height of the images to correclty push down
//content in a normal document flow. The egg image for the main section was
//overlapping. Fix was quick. Update grid, add overlapping and add a fixed
//height for header only.

section.hero {
  width: 100%;
  height: auto;
  display: grid;
  grid:
    8.8rem
    min-content / 1fr;
  gap: 5.6rem;
  position: relative;
  transition: gap 250ms;
  max-height: 100vh;

  @include mq(tablet) {
    grid:
      12.4rem
      min-content / 1fr;
    gap: 7.1rem;
  }

  header {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .hero-bg-img-container {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .hero-content {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.hero-bg-img-container {
  width: 100%;
  // added max-height: 100% so our background remainds visible across
  // breakpoints. No need for it to be larger than 100% anyway as that is beyond
  // the scope of the hero section.
  max-height: 100%;
  height: auto;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(2) {
    display: none;
  }

  @include mq(tablet) {
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(2) {
      display: block;
    }
  }
}

//! I think i should position the header fixed or absolutely to the
//! body. But obviously change padding top of hero section and grid of
//! it makes no sense than as it has a single child.

.hero header.site-header {
  padding: 3.2rem 2.4rem;
  width: 100%;
  height: auto;
  @include flex(row nowrap, space-between, center);
  position: relative;

  .logo-container {
    height: 2.4rem;

    @include mq(tablet){
      height: 3.3rem;
    }
  }

  .logo-container a {
    transition: opacity 250ms;
  }

  .logo-container a:hover {
    opacity: 0.75;
  }

  @include mq(sdesktop) {
    padding: 3.4rem 4rem;
  }

  .nav-button {
    height: 1.8rem;
    @include flex(column nowrap, space-between, center);
    width: 2.4rem;
    cursor: pointer;
    margin: 0;
    padding: 0;

    @include mq(sdesktop) {
      display: none;
    }

    div {
      width: 100%;
      height: 0.2rem;
      background: white;
      transition: all 250ms;
      transform-origin: 1px 0.5px;
    }

    &.clicked {
      opacity: 0.5;

      & div:nth-child(1) {
        transform: rotate(45deg);
      }

      & div:nth-child(2) {
        transform: scale(0.4, 0.4);
        opacity: 0;
      }

      & div:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  nav {
    position: absolute;
    top: calc(100% - 0.6rem + 2.4rem);
    transform: translate(-50%, 0);
    width: 90%;
    @include flex(column nowrap, start, center);
    padding: 3.9rem 0;
    gap: 3.2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.014rem;
    font-family: var(--barlow);
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    left: -100%;
    opacity: 0;
    transition: left 450ms, opacity 450ms;
    background: white;

    a {
      transition: opacity 250ms;
    }

    a:hover {
      opacity: 0.75;
    }

    @include mq(sdesktop) {
      position: static;
      left: unset;
      top: unset;
      transform: unset;
      width: min-content;
      @include eflex(row nowrap, start, center);
      gap: 4.7rem;
      padding: 0;
      opacity: 1;
      background: transparent;
      color: white;
      font-size: 1.8rem;
      letter-spacing: -0.013rem;
    }

    &::after {
      content: "";
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        315deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(0, 212, 255, 0) 50%
      );
      top: 0rem;
      right: 0;
      transition: top 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: 450ms;

      @include mq(sdesktop) {
        display: none;
      }
    }

    * {
      margin: 0;
      padding: 0;
    }

    button {
      background: hsl(51, 100%, 49%);
      font-family: var(--fraunces);
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.0011rem;
      font-weight: 700;
      padding: 1.6rem 3.2rem 1.5rem;
      border-radius: 2.8rem;
      text-transform: uppercase;
      cursor: pointer;

      @include mq(sdesktop) {
        background: white;
        color: #24303e;
        transition: background 450ms, color 450ms;

        &:hover {
          background: rgba(255, 255, 255, 0.253);
          color: white;
        }
      }
    }
  }

  //Navigation transition effect when nav-button clicked
  nav.button-clicked {
    left: 50%;
    opacity: 1;

    &::after {
      top: -2.4rem;
    }
  }
}

.hero .hero-content {
  height: min-content;
  @include flex(column nowrap, start, center);
  gap: 5.2rem;
  padding-bottom: 5rem;

  @include mq(sdesktop) {
    gap: 9.7rem;
  }

  h1 {
    // added 90% for better transition between breakpoints.
    width: 90%;
    font-size: clamp(4rem, 2.4733rem + 4.0712vw, 5.6rem);
    font-family: var(--fraunces);
    font-weight: 900;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: clamp(0.625rem, 0.3865rem + 0.6361vw, 0.875rem);
    color: white;
    text-align: center;
  }
}

// MAIN STYLING === MAIN STYLING === MAIN STYLING === MAIN STYLING === MAIN
// STYLING === MAIN STYLING ===

main {
  @include flex(column nowrap, start, center);
}

main .calls-to-action {
  width: 100%;
  height: auto;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-auto-columns: min-content;
}

.calls-to-action .call-to-action {
  width: 100%;
  height: auto;
  display: grid;
  grid: min-content min-content / 1fr;
  background: #FFFCF8;

  @include mq(tablet) {
    grid: min-content / 1fr 1fr;

    &:nth-child(odd) {
      .cta-image-container {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .text-container {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
  }
}

//! Investigate why flex struggles with the image's heights (below)

// .calls-to-action .call-to-action {
//   @include flex(column nowrap, start, center);
//   height: min-content;

//   @include mq(tablet) {
//     @include eflex(row nowrap, start, center);

//     * {
//       flex: 1 0 50%;
//     }

//     &:nth-child(odd){
//       flex-direction: row-reverse;
//     }
//   }
// }

.call-to-action {
  .cta-image-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img:nth-child(2) {
      display: none;
    }

    @include mq(tablet) {
      img:nth-child(2) {
        display: block;
      }
      img:nth-child(1) {
        display: none;
      }
    }
  }
}

.call-to-action {
  .text-container {
    @include flex(column nowrap, start, center);
    // align-self: center;
    text-align: center;
    gap: 2.4rem;
    padding: 6.4rem 2.4rem;

    @include mq(tablet) {
      justify-content: center;
      align-items: flex-start;
      justify-self: center;
      text-align: left;
      max-width: 44.5rem;
    }

    h2 {
      font-family: var(--fraunces);
      font-size: clamp(3.6rem, 3.3143rem + 0.7619vw, 4rem);
      line-height: 100%;
      letter-spacing: -0.023rem;
      font-weight: 900;
      color: #24303e;
      margin-bottom: 0.8rem;
    }

    p {
      font-family: var(--barlow);
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: -0.013rem;
      font-weight: 500;
      color: #808397;
    }

    button {
      font-family: var(--fraunces);
      color: #24303e;
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
      z-index: 0;
      cursor: pointer;

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -15%);
        width: 114%;
        height: 1rem;
        opacity: 0.25;
        z-index: -1;
        border-radius: 2.8rem;
        transition: opacity 250ms ease-in-out;
      }
    }
  }

  &.transform button::after {
    background: #fad400;
  }
  &.stand-out button::after {
    background: #FE7766;
  }
}

section.services {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;

  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
  }
}

// SERVICES LAYOUT AND ARTICLE CODE
section.services article.service {
  max-height: 60rem;
  display: grid;
  grid: 1fr / 1fr;

  > * {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

section.services article.service {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img:nth-child(2) {
    display: none;
  }

  @include mq(desktop) {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: block;
    }
  }
}

section.services article.service {
  &.graphic-design {
    .text-container {
      .service-heading {
        color: #24554a;
      }
      .service-description {
        color: #24554a;
      }
    }
  }

  &.photography {
    .text-container {
      .service-heading {
        opacity: 0.75;
        color: #052c3b;
      }
      .service-description {
        color: #19536c;
      }
    }
  }

  .text-container {
    padding: 0 2.4rem 5.9rem;
    text-align: center;
    width: 100%;
    max-width: 34rem;
    align-self: end;
    justify-self: center;
    @include flex(column nowrap, start, center);
    gap: 2.7rem;

    .service-heading {
      font-family: var(--fraunces);
      font-size: 2.8rem;
      line-height: 100%;
      font-weight: 900;
      letter-spacing: -0.02rem;
    }

    .service-description {
      font-family: var(--barlow);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.7rem;
      letter-spacing: -0.011rem;
    }
  }
}

section.testimonials {
  width: 100%;
  max-width: 111rem;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 6.4rem;
  text-align: center;
  padding: 6.4rem 2.4rem;

  @include mq(tablet) {
    grid:
      "heading" min-content
      "testimonials" min-content / 1fr 1fr 1fr;
    row-gap: 8.1rem;
    column-gap: 3rem;
    padding: 16rem 2.4rem;

    > .testimonials__heading {
      grid-row: 1/2;
      grid-column: 1/4;
    }

    > .testimonial {
      grid-row: 2/3;
    }
  }

  @include mq(desktop) {
    padding: 16rem 0;
  }
}

section.testimonials {
  h2.testimonials__heading {
    width: 100%;
    font-family: var(--fraunces);
    font-size: 1.6rem;
    line-height: 100%;
    font-weight: 900;
    letter-spacing: 0.4rem;
    color: #a7aaad;
    text-transform: uppercase;
  }
}

section.testimonials article.testimonial {
  width: 100%;
  height: auto;
  @include flex(column nowrap, start, center);
  gap: 3.2rem;

  @include mq(tablet) {
    gap: 5.8rem;
  }
}

section.testimonials article.testimonial {
  img.testimonial__client-img {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
  }

  p.testimonial__description {
    font-family: var(--barlow);
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -0.013rem;
    font-weight: 500;
    color: #5b636d;

    @include mq(tablet) {
      margin-bottom: 1.1rem;
    }
  }

  .testimonial__client-info {
    @include flex(column nowrap, start, center);
    gap: 0.8rem;

    > .testimonial__client-name {
      font-family: var(--fraunces);
      font-size: 1.8rem;
      line-height: 100%;
      font-weight: 700;
      letter-spacing: -0.013rem;
      color: #24303e;
    }

    > .testimonial__client-title {
      font-family: var(--barlow);
      font-size: 1.4rem;
      line-height: 2.5rem;
      font-weight: 600;
      letter-spacing: -0.01rem;
      color: #a7aaad;
    }
  }
}

section.portfolio-images {
  width: 100%;
  height: auto;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;

  @include mq(sdesktop) {
    max-height: 44.7rem;
    grid: 1fr / repeat(4, 1fr);
  }

  > img.portfolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > img.portfolio__image.desktop {
    display: none;
  }

  @include mq(sdesktop) {
    > img.portfolio__image.desktop {
      display: block;
    }

    > img.portfolio__image.mobile {
      display: none;
    }
  }
}

footer {
  width: 100%;
  height: auto;
  background: #90d4c6;
  padding: 6.4rem 0 8rem;

  @include mq(tablet){
    padding: 7.2rem 0;
  }

  .footer__inner-container {
    width: 100%;
    max-width: 111rem;
    @include flex(column nowrap, start, center);
    padding: 0 3.9rem;
    gap: 4rem;
    margin: 0 auto;

    .footer__home-link {
      height: 3.3rem;
      cursor: pointer;
      transition: opacity 250ms;

      &:hover {
        opacity: 0.75;
      }

      svg path {
        fill: #2c7566;
      }
    }

    .footer__nav {
      @include flex(row nowrap, center, center);
      gap: 5.7rem;
      margin-bottom: 4.8rem;
      a {
        font-size: 1.8rem;
        font-family: var(--barlow);
        line-height: 2.5rem;
        letter-spacing: -0.013rem;
        font-weight: 500;
        color: #458d7e;
        transition: color 250ms;

        &:hover {
          color: white;
        }
      }
    }

    .footer__social-media-links {
      @include flex(row nowrap, center, center);
      gap: 2.8rem;

      a {
        svg path {
          transition: fill 250ms;
        }
        &:hover {
          svg path {
            fill: white;
          }
        }
      }
    }
  }
}
